.cards__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(calc((100% - 3 * 20px) / 4), 1fr));
  row-gap: 30px;
  column-gap: 20px;

  /* max-width: 1140px; */

  margin: 0 auto;
  padding: 70px 70px 2px;

}

@media (max-width: 900px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(calc((100% - 20px) / 4), 1fr));
    padding: 70px 30px 2px;
  }
}

@media (max-width: 500px) {
  .cards__list {
    grid-template-columns: 1fr;
    padding: 40px 10px 2px;
  }
}