.promo__text {
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.6px;

  padding-top: 50px;
  max-width: 626px;
}

@media (max-width: 768px) {
  .promo__text {
    text-align: center;
    padding-top: 300px;
  }
}

@media (max-width: 320px) {
  .promo__text {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }
}