.promo__container {
  height: 100%;
  background: url(../../../images/promo.svg) no-repeat bottom 0 right 70px;
}

@media (max-width: 768px) {
  .promo__container {
    background: url(../../../images/promo.svg) no-repeat bottom 0 center;
    background-size: 680px;

    padding: 0 44px;

  }
}

@media (max-width: 320px) {
  .promo__container {
    padding: 0 10px;
  }
}