.about-project__timing-block {
  box-sizing: border-box;
  margin-top: 110px;

  display: grid;
  grid-template-columns: minmax(100px, 1fr) 4fr;
  grid-template-rows: 36px;
}

@media (max-width: 768px) {
  .about-project__timing-block {
    margin-top: 93px;
  }
}

@media (max-width: 500px) {
  .about-project__timing-block {
    margin-top: 60px;
  }
}