.toggle__point {
  box-sizing: border-box;

  width: 16px;
  height: 16px;

  background-color: #A0A0A0;
  border: 1px solid white;
  border-radius: 50%;

  position: absolute;
  left: 2px;

  transition: background-color .2s, left .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.toggle_active > .toggle__point {
  background-color: #2BE080;
  left: 18px;
}