.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  z-index: 10;

  width: 520px;

  background-color: #202020;

  transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 520px) {
  .menu {
    left: 0;
    width: unset;
  }
}